# compiled code
**/bin
**/obj
# files not needed for build
_deploy/
_dev/
.vscode/
.dockerignore
.gitignore
Dockerfile
Jenkinsfile
LICENSE
README.md
version.txt
# scanning data
.sonarqube/
coverage-hits/
coverage-results/
out/
coverage.json
opencovercoverage.xml
