# compiled code
**/bin
**/obj
# files not needed for build
_deploy/
.vscode/
compose/
.dockerignore
.gitignore
Dockerfile
Jenkinsfile
LICENSE
README.md
# scanning data
.sonarqube/
coverage-hits/
out/
coverage.json
opencovercoverage.xml